.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
demo/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
.git/**
**/*.tsbuildinfo
.nyc_output
coverage
**/*.vsix
.eslintrc.json
